*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.shape{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    border: 1px solid black;
}
#shape1:hover{
    background-color: rgb(142, 211, 121);
}
#shape1{
    border-color: greenyellow;  
}
#shape2:hover{
    background-color: rgb(157, 152, 228);  
}
#shape2{
    border-color: blue;
    rotate: 45deg;
    h1{
        rotate: -45deg;
    } 
    height: 177px;
    width: 177px;
    translate: 35px;
}
#shape3{
    border-color: red;
    border-radius: 50%;
    
    
}
#shape3:hover{
    background-color: rgb(214, 116, 116);
    
}

h1{
    font-weight: lighter;
}
